#### 2.1.1 What is Normalization ?

Normalization is a scaling technique in which values are shifted and rescaled so that they end up ranging between 0 and 1. It is also known as Min-Max scaling.

#### 2.1.2 What is Standardization ?

Standardization is another scaling technique where the values are centered around the mean with a unit standard deviation. This means that the mean of the attribute becomes zero and the resultant distribution has a unit standard deviation.

| Condition | Min-Max Scaling | Standardization (Z-score) |
|-----------|----------------|------------------------|
| Data has a known, fixed range | ✅ Yes | ❌ Not ideal |
| Data contains outliers | ❌ Sensitive to outliers | ✅ More robust to outliers |
| Data is normally distributed | ❌ Not necessary | ✅ Preferred |
| Data is not normally distributed (e.g., skewed) | ✅ If shape needs to be preserved | ✅ Often works well after log-transform |
| Model is distance-based (KNN, SVM) | ✅ Recommended | ✅ Also acceptable |
| Model is neural network | ✅ Strongly recommended | ❌ May slow training |
| Model is linear or uses regularization | ❌ Not ideal | ✅ Helps with convergence |
| Input features need bounded values (0–1) | ✅ Required | ❌ Not bounded |
| Applying PCA or LDA | ❌ May distort variance | ✅ Required (centering needed) |
| Want to preserve original distribution shape | ✅ Maintains feature shape | ✅ Maintains shape but centers data |
| Working with tree-based models | ❌ Not needed | ❌ Not needed |

In [5]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df= pd.read_csv('data/processed/ChurnModelling_Encoded.csv')

In [7]:
df.head()

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.00,2,0.00,1,1,1,101348.88,1,1,True,False,False,True,False
1,41.00,1,83807.86,1,0,1,112542.58,0,1,False,False,True,True,False
2,42.00,8,159660.80,3,1,0,113931.57,1,0,True,False,False,True,False
3,38.91,1,0.00,2,0,0,93826.63,0,2,True,False,False,True,False
4,43.00,2,125510.82,1,1,1,79084.10,0,4,False,False,True,True,False

In [8]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [9]:
columns_need_to_be_scaled = ['Age', 'Tenure', 'Balance', 'EstimatedSalary']

for col in columns_need_to_be_scaled:
    scalar = StandardScaler()
    # scalar = MinMaxScaler()

    # df[col] = scalar.fit_transform(df[[col]])
    df[col] = scalar.fit_transform(df[col].values.reshape(10000,1))

    # scalar.fit(df[col].values.reshape(10000,1))
    # df[col] = scalar.transform(df[col].values.reshape(10000,1))
    
df

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScore_Binned,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.302983,-1.041760,-1.225848,1,1,1,0.021886,1,1,True,False,False,True,False
1,0.204867,-1.387538,0.117350,1,0,1,0.216534,0,1,False,False,True,True,False
2,0.302983,1.032908,1.333053,3,1,0,0.240687,1,0,True,False,False,True,False
3,-0.000196,-1.387538,-1.225848,2,0,0,-0.108918,0,2,True,False,False,True,False
4,0.401100,-1.041760,0.785728,1,1,1,-0.365276,0,4,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.008634,-0.004426,-1.225848,2,1,0,-0.066419,0,3,True,False,False,False,True
9996,-0.383831,1.724464,-0.306379,1,1,1,0.027988,0,0,True,False,False,False,True
9997,-0.285715,0.687130,-1.225848,1,0,1,-1.008643,1,2,True,False,False,True,False
9998,0.302983,-0.695982,-0.022608,2,1,0,-0.125231,1,3,False,True,False,False,True
9999,-1.070646,-0.350204,0.859965,1,1,0,-1.076370,0,3,True,False,False,True,False

In [10]:
df.to_csv('data/processed/ChurnModelling_Final.csv', index=False)